<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.divide.ibitech.divide_ibitech">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ibitech_logo_no_slogan"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ibitech_logo_no_slogan"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <activity android:name=".Welcome">

        </activity>
        <activity android:name=".SlideOne" />
        <activity android:name=".SlideTwo" />
        <activity
            android:name=".Register"
            android:screenOrientation="locked" />
        <activity
            android:name=".Login"
            android:screenOrientation="locked" />
        <activity
            android:name=".Dashboard"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RequestDevice" />
        <activity android:name=".AddSymptom" />
        <activity android:name=".AddAllergy" />
        <activity
            android:name=".Profile"
            android:label="Profile" />
        <activity
            android:name=".Reports"
            android:label="Reports" />
        <activity
            android:name=".Settings"
            android:label="Setting" />
        <activity android:name=".DocLogin" />
        <activity android:name=".DocRegister" />
        <activity android:name=".DocDashboard" />
        <activity android:name=".ViewAppointments"/>
        <activity android:name=".Diagnosis" />
        <activity android:name=".ViewPatients" />
        <activity android:name=".PatientMedicalRecord" />
        <activity android:name=".ViewAllergy" />
        <activity android:name=".ViewCondition" />
        <activity android:name=".ViewSymptom" />
        <activity android:name=".Tutorial" />
        <activity android:name=".DoctorTutorial" />
        <activity android:name=".Barchart" />
        <activity android:name=".AddMedicalAid"></activity>
    </application>

</manifest>