<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.envy.patrema.envy_patrema">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/plogo_ldpi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/plogo_ldpi"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".Welcome"
            android:screenOrientation="locked" />
        <activity android:name=".SlideOne" />
        <activity android:name=".SlideTwo" />
        <activity
            android:name=".PatientRegister"
            android:screenOrientation="locked" />
        <activity
            android:name=".PatientLogin"
            android:screenOrientation="locked" >

        </activity>

        <activity
            android:name=".RequestDevice"
            android:screenOrientation="locked" />
        <activity
            android:name=".AddSymptom"
            android:screenOrientation="locked" />
        <activity
            android:name=".AddAllergy"
            android:screenOrientation="locked" />
        <activity
            android:name=".DocLogin"
            android:screenOrientation="locked" />
        <activity
            android:name=".DocRegister"
            android:screenOrientation="locked" />
        <activity
            android:name=".DocDashboard"
            android:screenOrientation="locked" />
        <activity
            android:name=".ViewPatientVisits"
            android:screenOrientation="locked" />
        <activity
            android:name=".Diagnosis"
            android:screenOrientation="locked" />
        <activity
            android:name=".ViewPatients"
            android:screenOrientation="locked" />
        <activity
            android:name=".PatientMedicalRecord"
            android:screenOrientation="locked" />
        <activity
            android:name=".ViewAllergy"
            android:screenOrientation="locked" />
        <activity
            android:name=".ViewCondition"
            android:screenOrientation="locked" />
        <activity android:name=".ViewSymptom" />
        <activity
            android:name=".Tutorial"
            android:screenOrientation="locked" />
        <activity
            android:name=".DoctorTutorial"
            android:screenOrientation="locked" />
        <activity
            android:name=".AddMedicalAid"
            android:screenOrientation="locked" />
        <activity
            android:name=".PatientCondition"
            android:screenOrientation="locked" />
        <activity
            android:name=".PatientAllergy"
            android:screenOrientation="locked" />
        <activity
            android:name=".DocPatientLastVisit"
            android:screenOrientation="locked" />
        <activity
            android:name=".DocPatientAllergies"
            android:screenOrientation="locked" />
        <activity
            android:name=".DocPatientMedication"
            android:screenOrientation="locked" />
        <activity
            android:name=".DocPatientConditions"
            android:screenOrientation="locked" />
        <activity
            android:name=".DocPatientTestResults"
            android:screenOrientation="locked" />
        <activity
            android:name=".DocPatientMiscellaneous"
            android:screenOrientation="locked" />
        <activity
            android:name=".PrescribeAllergyTreatment"
            android:screenOrientation="locked" />
        <activity android:name=".ViewMedicalDevices" />
        <activity android:name=".MedicalDevice" />
        <activity android:name=".DocPatientMedicalDevices" />
        <activity android:name=".DocIssueMedicalDevice" />
        <activity android:name=".VisitsBarChart" />
        <activity android:name=".ViewMedicalAid" />
        <activity android:name=".ViewNextOfKin" />
        <activity android:name=".AddNextOfKin" />
        <activity android:name=".NextOfKinDetails" />
        <activity android:name=".OTP_Auth" />
        <activity android:name=".Onboarding"></activity>
        <activity android:name=".PatientMainActivity">
        </activity>
        <activity android:name=".PatientEditProfile">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>